@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
.header-main {
    background: url('../img/background-header.jpg') !important;
    background-position: bottom !important;
    background-repeat: none;
    background-size: cover !important;
    height: 62.5rem;
}

#main-nav {
    background: #00000075;
    transition: top 0.3s ease-in-out;    
}

.nav-hidden {
    top: -2.25rem;
}

.nav-visible {
    top: 0;
}

.linkHover {
    color: white;
}

.navbar-collapse a:hover {
    color: white !important;
    transform: scale(1.1);
    transition: transform 0.5s ease;
}

.navbar-brand {
padding: 0;
margin: 0;
}

a .navbar-brand:hover {
    color: black !important;
    transform: scale(1.1);
    transition: transform 0.5s ease;
}

.menuMain .navbar-brand img {
    cursor:auto;
}

.navbar-toggler {
    color: white !important;
}

.nav-link.active {
    color: bisque !important;
}

.intro {
    display: block;
    margin: 0 auto !important;
    width: 100%;
    text-align: center;
}

.intro p {
    padding-top: 13.75rem;
    font-size: 2rem;
    margin: 0;
    color: white;
}

.intro2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'raleqay';
    font-size: bold;
    color: white;
    font-size: clamp(1rem, 2.8vw, 5rem);
}

.typewriter {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.25rem solid #212121;
    animation: cursor 1s step-start infinite, text 3.5s steps(18) alternate infinite;
    color: white;
    font-size: 2em;
}

@keyframes cursor {
    0%,
    100% {
        border-color: white;
    }
}

@keyframes text {
    0% {
        width: 0;
    }

    100% {
        width: 22.5ch;
    }
}

/* Redes sociais */
.intro ul {
    list-style: none;
    margin: 2.18rem 0;
    padding: 0;
}

.intro ul li {
    display: inline;
    margin: 0.31rem;
}

.intro ul li a {
    text-decoration: none;
    color: white;
}
/* Fim redes sociais */

/* Ver currículo */
.curriculoBox {
    color: #ffffff;
    padding: 0.62rem 1.56rem;
    border: 0.06rem solid #eaebeb;
    background: transparent;
    border-radius: 6.25rem;
    margin-top: 2.5rem !important;
    text-decoration: none !important;
    display: inline-flex;
    width: 7.6%;
    justify-content: center;
}

.curriculoBox:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease;
    color: white;
    background: transparent;
}

@media (max-width: 1200px) {
    .curriculoBox{
        flex: 0 0 100%;
        max-width: 100%;
        border-radius: 8px;
        width: 4%;
    }
}
/* Fim ver currículo */
/* Fim header */

/* Sobre */
.sobre {
    color: #212121;
    padding: 5rem 0;
    text-align: center;
    font-family: 'Open Sans';
}

.introSobre {
    margin: 0 auto 3.12rem auto;
    width: 100%;
    text-align: center;
}

.introSobre h1 {
    font-size: 3em;
    letter-spacing: -0.06rem;
    font-family: 'Rubik';
    font-weight: 100;
    text-align: center;
}

.introSobre p {
    font-size: 1em;
    font-family: 'Open Sans';
    font-weight: 400;
    text-align: justify;
    color: #8e8e8e;
    width: 60%;
    margin: 1.25rem auto 2.5rem auto;
}

/* Foto */
.foto img {
    background-color: #e2dede;
}

.foto h1 {
    margin-top: 1.56rem;
    font-size: 3em;
    letter-spacing: -0.12rem;
    font-family: 'Rubik';
    font-weight: 100;
}

.foto p {
    margin: 0.31rem auto 0 auto;
    font-size: 1em;
    text-align: justify;
    font-family: 'Open Sans';
    font-weight: 400;
    color: #8e8e8e;
}

.introMe {
    width: 80%;
    margin: 0 auto;
}

.foto img.perfil-img {
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 50%;
    object-fit: cover;
    background-color: #e2dede;
}
/* Fim foto */

/* Habilidades */
.progress {
    height: 0.25rem !important;
}

.progress-bar {
    background-color: #212121;
    height: 0.25rem;
}

.litlePercent {
    display: flex;
    align-items: center;
}

.titleP {
    display: flex;
    align-items: center;
}

.titleP .percent {
    display: flex;
    justify-content: end;
}

.titleP img {
    max-width: 100%;
    height: auto;
    justify-content: flex-end;
}
/* Fim habilidades */
/* Fim sobre */

/* História */
.tempoTrabalho {
    background: url(../img/Bg-star.jpg) !important;
    background-position: bottom !important;
    background-repeat: no-repeat;
    background-size: cover !important;
    min-height: 18.75rem;
    display: flex;
}

.tempoTrabalho::before {
    background-color: rgba(0, 0, 0, 0.666);
    content: '';
    display: block;
    min-height: 18.75rem;
    position: absolute;
    width: 100%;
}

.boxTrabalho {
    padding: 1.25rem;
    color: white;
    justify-content: center;
    display: flex;
}

.boxTrabalho .cardFrase p{
    font-size: 1.87rem;    
}

.boxTrabalho .cardFrase small{
    display: flex;
    justify-content: end;
    font-size: 1.25rem;
}

.boxTrabalho i {
    font-size: 1.4em !important;
}

.cardTrabalho {
    padding: 1.25rem;
    width: 70%;
    border: 0.06rem dotted white;
    margin: 0 auto;
    text-align: center;
    border: none;
}

.cardTrabalho i {
    margin-bottom: 0.62rem;
    padding-bottom: 0.62rem;
}

.pPrimeiro {
    font-size: 2em !important;
    color: #ffffff;
    font-family: 'Rubik';
    line-height: 0.75rem;    
}

.pSecond {
    font-size: 1em !important;
    color: #ffffff;
    font-family: 'Open Sans';
    line-height: 0.62rem;
}

.pSegundo {
    font-size: 1em !important;
    color: #ffffff;
    font-family: 'Open Sans';
    line-height: 0.62rem;
    margin-top: 3.12rem;
}
/* Fim História */

/* Experiência */
.experiencia {
    color: #212121;
    padding: 5rem 0;
    text-align: center;
    font-family: 'Open Sans';
}

.timeline-area {
    margin: 0 auto !important;
    width: 70% !important;
    border-left: 0.06rem solid #d9d9d9;
    margin-top: 3.12rem !important;
    padding: 1.87rem 1.25rem 1.87rem 1.87rem;
}

.timeline-area div {
    background: #f8f9fa;
    border: 1px solid #eaebeb;
    border-radius: 0.62rem;
    text-align: left;
    padding: 1.87rem;
    margin-bottom: 1.25rem;
}

.timeline-area div h2 {
    font-size: 1.2em;
    font-family: 'Rubik';
    font-weight: 400;
    letter-spacing: -0.06rem;
}

.timeline-area div h3 {
    font-size: 1.4em;
    font-family: 'Open Sans';
    font-weight: 300;
    letter-spacing: 0rem;
    line-height: 0.87rem;
}

.timeline-area div h4 {
    font-size: 0.675em;
    font-family: 'Open Sans';
    font-weight: 400;
    letter-spacing: 0rem;
    margin-left: 0.62rem;
    line-height: 0.62rem;
}

.timeline-area div:before {
    content: '';
    display: block;
    width: 0.93rem;
    height: 0.93rem;
    border-radius: 50%;
    background: #1a1716;
    position: relative;
    top: 1.12rem;
    left: -4.31rem;
}

.verMais {
    color: #000000;
    padding: 0.62rem 1.56rem;
    border: 1px solid #eaebeb;
    background: #ffffff;
    border-radius: 6.25rem;
    margin-top: 2.5rem !important;
    text-decoration: none !important;
    display: inline-block;
}

.verMais:hover {
    color: rgb(0, 0, 0);
    transform: scale(1.1);
    transition: transform 0.5s ease;
    background: rgba(0, 0, 0, 0.24);
}
/* Fim Experiência */

/* Projetos */
.projetos {
    background: #f8f9fa;
    padding: 5rem 0;
    text-align: center;
}

.cardP {
    margin: 1rem;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.cardP img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0.5rem;
}

@media (max-width: 960px) {
    .col-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
/* Fim Projetos */

/* Formação */
.timeline-area .botaoCertificados {
    color: #000000;
    padding: 0.62rem 1.56rem;
    border: 0.06rem solid #eaebeb;
    background: #ffffff;
    border-radius: 6.25rem;
    margin-top: 2.5rem !important;
    text-decoration: none !important;
    display: inline-block;
}

.timeline-area .botaoCertificados:hover {
    color: rgb(0, 0, 0);
    transform: scale(1.1);
    transition: transform 0.5s ease;
    background: rgba(0, 0, 0, 0.24);
}
/* Fim formação */

/* Entre em contato */
.conversar {
    background: #ffffff;
    padding: 5rem 0;
    text-align: center;
}

.conversar h1 {
    font-size: 3em;
    letter-spacing: -0.06rem;
    font-family: 'Rubik';
    font-weight: 100;
}

.conversarP {
    width: 60% !important;
    margin: 0.62rem auto 3.12rem auto !important;
    display: block;
    text-align: center;
}

.cardC {
    font-size: 1.4em;
    font-family: 'Rubik';
    color: #212121;
}

.cardC i {
    font-size: 2em;
    margin-bottom: 0.62rem;
}

.cardC p {
    margin: 0;
    padding: 0;
}

.cardC a {
    font-size: 0.8em !important;
}
/* Fim entre em contato */

/* footer */
.footer {
    background: #343a40;
    color: #ffffff;
}

.redesSociaisFooter {
    margin: 0 auto;
    padding: 1.25rem;
}

.redesSociaisFooter ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

.redesSociaisFooter ul li {
    display: inline;
    margin: 0.18rem;
    text-align: center;
}

.redesSociaisFooter ul li a {
    color: #8e8e8e;
    margin: 0 auto;
}

.redesSociaisFooter ul li a i {
    font-size: 1.2em;
    border: 0.12rem solid #8e8e8e;
    padding: 0.62rem;
    border-radius: 100%;
    color: #ffffff;
}
/* Fim footer */